@import "tailwindcss";

/* I tuoi stili personalizzati sotto */
:root {
  --foreground-rgb: 51, 51, 51;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
}